<div class="page--about page__animated">
	<div class="btn--close ">
		<a href="#" class="hidden-xs">
			<img src="/img/x.svg">
		</a>
	</div>
	<div class="row centered-v">
		
		<div class="col-sm-6 centered-h main col-sm-push-3">
			<p>I’m an Art director/Graphic designer from Montreal, Canada.</p>
			<p>I specialise in brand identities, print and web design.</p>
			<p>I’ve got over 8 years of experience.</p>
			<p>I’m currently available for selective projects and collaborations.</p>
			<p>Feel free to <a href="mailto:phil@philippegauthier.net">drop me a line</a>.</p>
			<hr class="visible-xs">
		</div>
		<div class="col-sm-3 col-sm-pull-6 side">
			<ul>
				<li><a href="https://dribbble.com/philgauthier">Dribbble</a></li>
				<li><a href="http://shitifind.com/">Tumblr</a></li>
				<li><a href="https://twitter.com/philgauthier">Twitter</a></li>
				<li><a href="https://ca.linkedin.com/in/philgauthier">LinkedIn</a></li>
			</ul>

			<h3>Friends<br>
			& collaborators<br>—</h3>
			<ul>
				<li><a href="https://deuxhuithuit.com">Deux Huit Huit</a></li>
				<li><a href="http://cpen10.com/">Charlène Sepentzis</a></li>
				<li><a href="http://folio.jimmifrancoeur.com/">Jimmi Francoeur</a></li>
				<li><a href="http://xavierblais.com/">Xavier Blais</a></li>
				<li><a href="http://www.maybejefflee.com/">Jeff Lee</a></li>
			</ul>

		</div>
	</div>
</div>