<div class="page--work">
	<div class="centered hidden-xs">
		<a href="https://www.behance.net/philgauthier" class="btn--work">
			<span>Work</span>
			<img class="centered-v" src="/img/Arrow.svg">
		</a>
	</div>
	<div class="bg1"></div>
	<div class="bg2"></div>
</div>