<div class="row">
	<div class="col-sm-4">
		<h1>Philippe Gauthier</h1><br>
		<h2>Art Director</h2>
	</div>
	<div class="col-sm-4 links">
		<a href="https://www.behance.net/philgauthier" class="visible-xs">Work</a>
		<a href="/about">About</a>
	</div>
	<div class="col-sm-4 mailto">
		<a href="mailto:phil@philippegauthier.net">Hello!</a>
	</div>
</div>